# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary
dist

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Transpiled files
src/**/*.js
src/**/*.js.map
